
/* Font family */

:root {
    
    /* Font family */
    --h1-font-family: 'Open Sans', sans-serif;
    --h2-font-family: 'Open Sans', sans-serif;
    --h3-font-family: 'Open Sans', sans-serif;
    --h4-font-family: 'Open Sans', sans-serif;
    --body-font-family: 'Open Sans', sans-serif;



    /* Colors */
    --main-bg-clr: #03045E;
    --main-body-clr: #00B4D8;
    --main-button-clr: #00B4D8;
    --main-link-hover-clr: #48CAE4;
    --main-accent-dark-1-clr: #023E8A;
    --main-accent-dark-2-clr: #0077B6;
    --main-accent-dark-3-clr: #0096C7;
    --main-accent-light-1-clr: #CAF0F8;
    --main-accent-light-2-clr: #ADE8F4;
    --main-accent-light-3-clr: #90E0EF;
    --main-black-clr: black;

    /* Background color */
    background-color: var(--main-bg-clr);
    
    /* height */
    min-height: 100vh;

    /* Font size */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-h4: 1.15rem;
    --fs-body: 1rem;
    
}



*, *::before, *::after {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-body-clr);
    scroll-behavior: smooth;
    /* background-color: #7367F0; */
}

/* Css variable for consistency throughout styling */

/* Navigation styling */
.header__home {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    padding-bottom: 10px;
    width: 100%;

    /* background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%); */
}


/* Main styling */

a {
    text-decoration: none;
    padding: 5px;
    color: white;
} 
.navigation__home a:hover  {
    /* text-decoration: none; */
    /* background-color: rgba(100,100,100, 0.20) */
    color: var(--main-accent-light-3-clr);
} 

.navigation__home {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer styling */
.footer__home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    /* min-width: 100%; */
    margin-bottom: 15px;
    bottom: 0;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    height: 3rem;
}


button {
    background-color: var(--main-button-clr);
    border: 3px solid black;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: 0;
    color: var(--main-black-clr);
    cursor: pointer;
}

button:hover {
    background-color: var(--main-link-hover-clr); 
    
    
}


.work__button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    line-height: 24px;
    
}
/* Desktop responsive */
/* @media screen (min-device-width: 1024px) {
    
} */
/* Tablet responsive */
/* @media screen (min-device-width: 768px) {
    
} */
/* Mobile responsive */
/* @media screen (min-device-width: 320px) {
    
} */


mark {
    background-color: yellow;
}

body {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    height: 100vh;
}

p {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
}


.work__resume {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: solid black 1px; */
    padding: 5px;
    margin: 5px 10px;
}

.work__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: var(--h1-font-family);
    font-size: var(--fs-h2);
}

.work__div {
    margin: 10px 10px;
}

.work__information {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;

}

.work__download__info {
    /* border: solid black 1px; */
}





.home_pic_section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */

}

.home__profile-pic {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-top: 15px; */
    width: 200px;
    height: 200px;
    /* opacity: 85%; */
    overflow: hidden;
    border-radius: 50%;
}



.home__introduction > h2 {
    font-size: 36px;
    font-family: var(--h1-font-family);
}

.home__introduction > h3 {
    font-size: 22px;
    font-family: var(--h1-font-family);
}

.home__introduction > h4 {
    font-size: 18px;
    font-family: var(--h1-font-family);
    color: #94e0fe;
}

.home__introduction--text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
    text-align: center;
}
.home__introduction {
    text-align: center;
}

.contact__form,
.contact__intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid var(--main-accent-light-1-clr); */
}

.contact__intro {
    padding: 10px;
    text-align: center;
}

.the_contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px 20px 20px 20px;
    margin: 10px auto;
    border: 2.5px solid var(--main-accent-dark-1-clr);
    background-image: linear-gradient( 135deg, var(--main-accent-light-2-clr) 10%, var(--main-accent-dark-2-clr) 100%);
    font-size: var(--fs-body);
}

form > label {
    padding-top: 10px;
    color: var(--main-accent-dark-1-clr);
}

form > input,
form > textarea {
    border: 2px solid var(--main-accent-dark-2-clr);
}

.contact__submit-btn {
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

.contact__submit-btn:hover {
    background-image: linear-gradient( 135deg, var(--main-accent-light-2-clr) 10%, var(--main-accent-dark-2-clr) 100%);
    color: var(--main-accent-light-1-clr);
    border: 2px solid var(--main-accent-dark-1-clr);
}



a:active, 
a:hover,
a:link {
    color: var(--main-accent-light-1-clr);
}

a.current {
    color: var(--main-body-clr);
  }

.home__work-btn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: var(--fs-h2);
    font-family: var(--body-font-family);
    color: var(--main-black-clr);
}

svg:hover {
    fill: var(--main-accent-light-2-clr);
}
svg {
    fill: var(--main-accent-light-3-clr);
}


label {
    line-height: 1.9rem;
}

input, 
textarea {
    width: 100%;
    padding: 5px;
    outline: none;
}

fieldset {
    padding: 20px 40px;
}

input[type="submit"] {
    transform: translate(2.2%);
    padding: 3px;
    margin-top: 0.6rem;
    font-family: var(--body-font-family);
    font-weight: bold;
    font-size: var(--fs-body);
   }



.skills_list,
.article__interest {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__interest--header {
    text-align: center;
}
a button {
    
}

.footer__copyright {
    color: var(--main-accent-light-2-clr);
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Desktop responsive */
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1.35rem;
        --fs-body: 1.125rem;

    }
}

/* Mobile responsive */



/* Tablet responsive */


h1 {
    font-size: var(--fs-h1);
    color: var(--main-accent-light-2-clr);
}

h2 {
    font-size: var(--fs-h2);
    color: var(--main-accent-light-2-clr);
}

h3 {
    font-size: var(--fs-h3);
    color: var(--main-accent-light-2-clr);
}

h4 {
    font-size: var(--fs-h4);
    color: var(--main-accent-light-2-clr);
}


.blog__grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.blog__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: var(--main-accent-dark-2-clr);
    text-align: center;
}


ul li svg {
    width: 50px;
    height: 50px;
    ;
}

div article svg {
    width: 100px;
    height: 100px;
}

div article:hover {
    background-color: var(--main-accent-light-2-clr);
    
}

.skill__grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.skill_item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 130px;
    margin: 5px;
    background-color: var(--main-accent-dark-2-clr);
    text-align: center;
}

.blog__article--headline,
.blog__article--date,
.blog__article--text,
.blog__article--figcaption,
.blog__image--caption, 
.blog__image--image,
.blog__article--blockquote,
.blog__article--h3,
.blog__article--close {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

.blog__article--main {
    margin: 10px;
    padding: 0 20px;
}

.blog__image--image {
    width: 20rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.blog__article--figcaption {
    color: var(--main-accent-light-1-clr);
    font-size: var(--fs-body);
    margin: 5px;
    display: flex;
    justify-content: center;
}

.blog__article--blockquote {
    font-size: 3rem;
    text-align: start;
}

.home_intro--name {
    background-image: linear-gradient(62deg, var(--main-accent-dark-1-clr), var(--main-accent-light-1-clr));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline;
}

.home_intro--name:hover {
    left: 0;
    transition: 2s;
}
